In [62]:
import pandas as pd
from pandas import DataFrame
from typing import List,Mapping

In [76]:
dict1 = {
    "name": ['harry', 'rohan', 'skillf', 'shubh'],
    "marks": [92, 34, 24, 17],
    "city": ['rampur', 'kolkata', 'barailly', 'antarctica']
}

df = DataFrame(dict1)
df

     name  marks        city
0   harry     92      rampur
1   rohan     34     kolkata
2  skillf     24    barailly
3   shubh     17  antarctica

In [77]:
finaldf = DataFrame([
    e
    for idx in range(0, 4)
    for e in check(df.loc[idx], idx)
])

def check(df:DataFrame, idx: int)-> List[Mapping]:
    #print (df)
    print(df)
    errors = ([
                dict(Hava="Udo", kitna="lekin")
            ] 
    if idx%2==0
    else []
    )
    
    return errors

name      harry
marks        92
city     rampur
Name: 0, dtype: object

IndexError: invalid index to scalar variable.

In [38]:
finaldf

  Hava  kitna
0  Udo  lekin
1  Udo  lekin
2  Udo  lekin